body {
    background-image: url("/img/background.png");
    background-size: auto;
    background-repeat: no-repeat;
}
.jumbotron {
    background-color:white !important; 
}
.right {
    right: 0;
}
.split {
    height: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.lowerhalf {
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -1.75%);
}