@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.centered {
    text-align: center;
    vertical-align: middle;
}
.drop {
    text-shadow: 1px 1px 2px #000000;
}
body {
    background-image: url("/img/background.png");
    background-size: auto;
    background-repeat: no-repeat;
}
.jumbotron {
    background-color:white !important; 
}
.right {
    right: 0;
}
.split {
    height: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.lowerhalf {
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -1.75%);
}